<!-- TOOLBAR -->
<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="flexSpacer"></span>
  <button mat-icon-button (click)="themeService.toggleTheme()">
    <mat-icon>{{ themeService.isDarkTheme ? 'brightness_3' : 'wb_sunny' }}</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/qr-code']">
    <mat-icon>qr_code</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/settings']">
    <mat-icon>settings</mat-icon>
  </button>
  <app-inventory-mode #inventoryMode></app-inventory-mode>
  <app-printer-selector #printerSelector></app-printer-selector>
  <button mat-icon-button [routerLink]="['/info', printerSelector.getSelectedPrinter().id]">
    <mat-icon>info</mat-icon>
  </button>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>receipt</mat-icon>
  </button>
  <mat-chip color="accent" highlighted>{{order.getEntriesNumber()}}</mat-chip>
</mat-toolbar>
<!-- FOOD CARDS -->
<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #sidenav position="end" class="sidenav-lateral" [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="true" fixedTopGap="64">
    <app-order #order [selectedPrinter]="printerSelector.getSelectedPrinter()" [categories]="categories"
      [menu]="menuEntries" (orderConfirmed)="shouldCloseOrderCheck()"></app-order>
  </mat-sidenav>
  <!-- TABS -->
  <mat-tab-group class="makeTabGroupSticky">
    <!-- Add a tab for each category -->
    @for(c of categories; track c){
    <mat-tab label="{{c.name}}">
      <div class="content">
        @for(m of menuEntries; track m) {
        @if(m.categoryID==c.id)
        {
        <!-- CARDS -->
        <!-- Loop on each MenuEntry and add it if it's the right category -->
        <mat-card class="mat-elevation-z4 entryCard" matRipple
          [matRippleAnimation]="{ enterDuration: 500, exitDuration: 1000 }"
          (click)="inventoryMode.isActive() ? inventoryMode.updateInventory(m.id) : order.addEntry(m)">
          <img mat-card-image class="cardImageStandardize" src="{{baseUrl}}GetImage?id={{m.id}}" alt="{{m.name}}">
          <mat-card-header>
            <mat-chip-listbox class="mat-mdc-chip-set-stacked">
              <mat-chip color="accent" highlighted>{{m.name}}</mat-chip>
              <mat-chip>{{m.price | currency: 'EUR'}}</mat-chip>
              <!-- This mess because [hidden] wouldn't work -->
              <mat-chip [ngStyle]="{'visibility': badgeCount[m.id] === null ? 'hidden' : 'visible'}"
                [color]="badgeCount[m.id]! >= 20 ? 'primary':'warn'"
                [highlighted]="badgeCount[m.id]! >= 20 ? 'false' : 'true'">
                Inventario: {{badgeCount[m.id]}}
              </mat-chip>
              <!-- TODO configurable threshold -->
            </mat-chip-listbox>
          </mat-card-header>
        </mat-card>
        }
        }
      </div>
    </mat-tab>
    }
  </mat-tab-group>
</mat-sidenav-container>