<!-- Category List -->
<div class="container">
  @if(loading){
  <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  }
  @else {
  <div class="progress-bar-placeholder"></div>
  }
  <div class="mat-elevation-z8 table-all">
    <mat-table [dataSource]="menuEntries">
      <!-- Name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
      <!-- Name Stampa-->
      <ng-container matColumnDef="printingName">
        <mat-header-cell *matHeaderCellDef> Nome Stampa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.printingName}} </mat-cell>
      </ng-container>
      <!-- Price -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Prezzo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>
      <!-- Category -->
      <ng-container matColumnDef="categoryName">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.category.name}} </mat-cell>
      </ng-container>
      <!-- Print Category -->
      <ng-container matColumnDef="printCategoryName">
        <mat-header-cell *matHeaderCellDef> Categoria Stampa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.printCategory.name}} </mat-cell>
      </ng-container>
      <!-- Inventario -->
      <ng-container matColumnDef="inventory">
        <mat-header-cell *matHeaderCellDef> Inventario</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.inventory}} </mat-cell>
      </ng-container>
      <!-- Ordering -->
      <ng-container matColumnDef="ordering">
        <mat-header-cell *matHeaderCellDef> Ordinamento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.ordering}} </mat-cell>
      </ng-container>
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Azione </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteMenuItem(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>

<button mat-fab color="primary" class="add-fab" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<!-- Edit/Create MenuItem Dialog -->
<ng-template #editCategoryTemplate let-data="editForm">
  <h2 mat-dialog-title>{{editForm.value?.id ? 'Modifica Categoria' : 'Nuova Categoria'}}</h2>
  <mat-dialog-content>
    <form [formGroup]="editForm">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nome Stampa</mat-label>
        <input matInput formControlName="printingName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prezzo</mat-label>
        <input matInput type="number" formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoryID">
          @for (c of categories; track c.id) {
          <mat-option [value]="c.id">{{c.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categoria Stampa</mat-label>
        <mat-select formControlName="printCategoryID">
          @for (c of printCategories; track c.id) {
          <mat-option [value]="c.id">{{c.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Inventario</mat-label>
        <input matInput type="number" formControlName="inventory">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ordinamento</mat-label>
        <input matInput type="number" formControlName="ordering">
      </mat-form-field>
      <mat-dialog-content>
        <input type="file" (change)="onFileSelected($event)" accept="image/*">
      </mat-dialog-content>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true">Save</button>
  </mat-dialog-actions>
</ng-template>