<!-- Category List -->
<div class="container">
    @if(scanning){
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    }
    <div class="mat-elevation-z8 table-all">
        <mat-table [dataSource]="printer">
            <!-- Name -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <!-- IP -->
            <ng-container matColumnDef="ip">
                <mat-header-cell *matHeaderCellDef> IP </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ip}} </mat-cell>
            </ng-container>
            <!-- Port -->
            <ng-container matColumnDef="port">
                <mat-header-cell *matHeaderCellDef> Port </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
            </ng-container>
            <!-- Hidden -->
            <ng-container matColumnDef="hidden">
                <mat-header-cell *matHeaderCellDef> Nascosta </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.hidden}} </mat-cell>
            </ng-container>
            <!-- Actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Azione </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <!-- <button mat-icon-button (click)="openDialog(element)">
                        <mat-icon>edit</mat-icon>
                    </button> -->
                    <button mat-icon-button color="warn" [disabled]="element.name=='Console'"
                        (click)="deletePrinter(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>

<button mat-fab color="primary" class="search-fab" (click)="scanPrinters()">
    <mat-icon>search</mat-icon>
</button>
<button mat-fab color="primary" class="add-fab" (click)="scanPrinters()">
    <mat-icon>add</mat-icon>
</button>