/* TODO avoid repeating these, place in some application-wide CSS file */

.table-all {
    margin: 1em;
    /* overflow: auto; TODO it is not scrolling on small screen in x direction */
    /* padding-bottom: 4em; TODO fab covers actions on long tables */
    overflow-y: auto;
}

.container {
    max-height: calc(100vh - 64px) !important;
    display: flex;
    flex-direction: column;
    /* What if the toolbar has a different size? */
}

@media(max-width: 599px) {
    .container {
        max-height: calc(100vh - 56px) !important;
    }
}

.search-fab {
    position: fixed;
    right: 20px;
    bottom: 90px;
    z-index: 1000;
}

.add-fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.green-button {
    color: #ffffff;
    /* Text color */
    background-color: #4caf50;
    /* Green background color */
}

.green-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}