.table-all {
    margin: 1em;
    overflow: auto;
}

.container {
    max-height: calc(100vh - 64px) !important;
}

@media(max-width: 599px) {
    .container {
        max-height: calc(100vh - 56px) !important;
    }
}

.button-space {
    margin-right: 8px;
}

.full-width {
    width: 100%;
}

.actions-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}