<!-- TOOLBAR -->
<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/main">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Info</span>
  <span class="flexSpacer"></span>
  <button mat-icon-button (click)="clearInfo()">
    <mat-icon>clear</mat-icon>
  </button>
  <button mat-icon-button (click)="printInfo()">
    <mat-icon>print</mat-icon>
  </button>
</mat-toolbar>
@if(loading){
<mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
}@else {
<div class="progress-bar-placeholder"></div>
}
<div class="container">
  <div class="mainInfo">
    <mat-card class="mainInfoCard">
      <mat-card-header>
        <mat-card-title class="mainInfoCardTitle">{{infoOrders.grossProfit | currency: 'EUR'}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Totale Lordo</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="mainInfoCard">
      <mat-card-header>
        <mat-card-title class="mainInfoCardTitle">{{infoOrders.numberOfOrders}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Numero Ordini</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="mat-elevation-z8 table-all">
    <table mat-table [dataSource]="tableDataSource" matSort class="table-striped">
      <!-- Name -->
      <ng-container matColumnDef="menuEntryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nome
        </th>
        <td mat-cell *matCellDef="let element"> {{element.menuEntryName}} </td>
      </ng-container>
      <!-- Number Sold -->
      <ng-container matColumnDef="numberSold">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          # Venduti
        </th>
        <td mat-cell *matCellDef="let element"> {{element.numberSold}} </td>
      </ng-container>
      <!-- Gross Profit -->
      <ng-container matColumnDef="grossProfit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Lordo
        </th>
        <td mat-cell *matCellDef="let element"> {{element.grossProfit | currency: 'EUR'}} </td>
      </ng-container>
      <!-- Table Header -->
      <!-- TODO make table sortable -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>