.table-all {
    margin: 1em;
    overflow: auto;
}

.container {
    max-height: calc(100vh - 64px) !important;
    display: flex;
    flex-direction: column; 
    /* What if the toolbar has a different size? */
}

@media(max-width: 599px) {
    .container {
        max-height: calc(100vh - 56px) !important;
    }
}

.add-fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}